body {
  font-family: sans-serif;
  margin: 0;
  padding: 1rem;
}

header {
  background-color: rgb(131,124,255);
  color: white;
  padding: 1rem;
  padding-bottom: 2rem;
  line-height: 1rem;
  
}

a {
  color: white;
  text-decoration: none;
}


main {
  margin-top: 2.5rem;
}

.search-container {
  background-color: #737373;
  border-radius: 20px;
  width: 400px;	
  padding: 20px;
  margin: auto;
}
	
h2 {
  font-size: 2em;
}

hr {
  border: 0.5px solid white;
}

input {
  border: 1px solid lightgrey;
  border-radius: 5px;
  background-color: #737373;
  padding: 10px;
  width: 95%;
  margin-top: -20px;
  margin-bottom: -10px;
  color: white;
}

.search-button {
	margin-top: 1rem;
	margin-left: 135px;
  background-color: #f76903;
  color: white;
  border: none;
  border-radius: 3px;
  /*border-bottom: 1px #fa4c00;*/
  padding: .8rem;
  padding-left: 1.8rem;
  padding-right: 1.8rem;
  cursor: pointer;
  border-bottom: 4px solid #fa4c00;
}

.right-header {
  float: right;
}

.right-header a {
    margin-left: 10px;
}

.left-header {
  float: left;
}	

.required:after {
  content:"*";
  color: red;
}

.searchLabel
{
	text-align: center;
	color: white;
	font-family: Baskerville;
	font-weight: lighter;
	font-size: 2rem;
	padding-bottom: 1rem;
}	

label
{
	font-size: 0.8rem;
	color: #8ec6e2;
}



/* Style the table */
table {
  border-collapse: collapse;
  max-width: 80%;
  margin: auto;
}

/* Style the table cells */
table td, table th {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

/* Style table heading row */
table th {
  font-weight: bold;
  height: 40px;
  background-color: #f2f2f2; 
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
}


.icon-cell {
  width: 20%;
}

.date-cell {
  width: 20%;
}

.event-cell {
  width: 30%;
}

.venue-cell {
  width: 30%;
}

.event-details-container {
  background-color: #737373;
  border-radius: 20px;
  width: 60%;	
  padding: 20px;
  margin: 2rem auto 0;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
}

.event-details-container h2 {
  font-size: 2rem;
  text-align: center;
  display: inline;
  font-weight: normal;	
}

.event-details-container .fa-star {
  cursor: pointer;
}

.event-details-container .details-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.event-details-container .details-item {
  margin-bottom: -50px;
}

.event-details-container .details-item h3 {
  color: #6ceacf;
  font-size: 1.5rem;
  font-weight: normal;
  margin-bottom: 0.5rem;
}

.event-details-container .details-ticketmaster h3 {
  color: #6ceacf;
  font-size: 1.5rem;
  font-weight: normal;
  margin-bottom: 0.5rem;
}

.event-details-container .details-ticketmaster {
  margin-bottom: -0.5rem;
}

.event-details-container #ticketmaster-link {
  color: #13c6ff;
}

.yellow-star {
  color: yellow;
}


.event-details-container .quantity {
  text-align: left;
  width: 80%;
}

.event-details-container .quantity input {
  text-align: left;
  color: white;
}

.event-details-container .buy-button {
  margin-top: 5rem;
	margin-left: 70px;
  background-color: #f76903;
  color: white;
  border: none;
  height: 45px;
  border-radius: 3px;
  /*border-bottom: 1px #fa4c00;*/
  padding: .8rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  cursor: pointer;
  border-bottom: 4px solid #fa4c00;
}

.right-section {
	margin-top: 1.5rem;
  float: right;
  text-align: left;
  margin-right: 2rem;
  line-height: 2rem;
  margin-left: 2rem;
}

.left-section {
	margin-top: 2rem;
  float: left;
  text-align: left;
  margin-left: 4rem;
}

.event-details-container .quantity h3 {
  margin-bottom: 2rem;
}